@import url('bootstrap.min.css');


#header {
	text-align: center;
	vertical-align: middle;
	display: block;
	margin-top: 10vh;
	color: #22313F;
}

.guide-box {
	padding-left: 20%;
	padding-right: 20%;
	margin-bottom: 10vh;
}
.guide {
	color: #22313F;
	display: block;
}

button{
	text-align: center;
}
#start {
	border: 0 none;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 7px 10px;
	text-transform: none;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	width: 16.795%;
	text-align: center;
	background: none repeat scroll 0 0 #46b98a;
	color: #FFFFFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#start:hover {
	background: none repeat scroll 0 0 #444444;
	color: #FFFFFF;
}