<!doctype html>
<html>
	<head>
		<title>Trace</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body>
		<div id="wrapper">
			<div class="container">
				<div id="header">
					<h1>Color my screen</h1>
				</div>
			</div>
			<div class="container">
				<a href="/showVideo"><div class="center-button"><button id="start">Start Drawing!</button></div></a>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</html>