<!doctype html>
<html>
	<head>
		<title>Trace</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body>
		<div id="wrapper">
			<div class="container top">
				<div id="header">
					<h1>Color my screen</h1>
				</div>
			</div>
			<div class="container guide-box">
				<div class="guide">
					<h3>Description:</h3>
					<p>With ColorMyScreen, you can use brightly colored objects to draw on your screen. Just hold the object
				       up to your webcame and start scribbling! It works best with dark lighting and a bright object. <br/ ><br/>
				       I usually just shut off the lights and use a highlighter/post-its for optimal performance. 
				       It won't work will if there are objects in the background that are the same color as your object.
				       If you don't see red cross-hairs when you start the application, exit and try adjusting the lighting
				       or choosing a brighter object.</p> 
				       <br/>
				    <h3>Instructions:</h3>
				    <ol>
				    	<li>Click the button button below to start the application.</li>
				    	<li>When prompted with the initial screen, place your object in the blue square and press 'd'.</li>
				    	<li>Use 'd' to toggle drawing on and off.</li>
				    	<li>Use 'e' to toggle erase on and off.</li>
				    	<li>When you're done drawing, hit 'f' to exit the application.</li> 
				    </ol>
				</div>
			</div>
			<div class="container">
				<a href="/showVideo"><div class="center-button"><button id="start">Start Drawing!</button></div></a>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</html>